<!-- Div para estados default y loaded -->
<div *ngIf="state === 'default' || state === 'loaded'">
  <div class="upload-label" [ngClass]="{'error-state': error}">
    <label class="file-upload-label">
      <span>
        <app-svg-icon [icon]="fileName ? 'CircleCheckBig.svg' : (icon === 'image' ? 'Image.svg' : 'Upload.svg')" 
                     [color]="error ? 'red' : (fileName ? 'orange' : '#999')"></app-svg-icon>
      </span>
      <p [ngClass]="{'orange-text': fileName && !error, 'gray-text': !fileName && !error, 'error-text': error}">
        {{ fileName || (icon === 'image' ? 'Selecciona la imagen' : 'Selecciona el archivo') }}
      </p>
      <input type="file" 
             class="file-upload-input" 
             [accept]="getAcceptType()"
             (change)="onFileSelected($event)">
    </label>
  </div>
  <app-hint [text]="information" [type]="error ? 'error' : 'info'"></app-hint>
</div>

<!-- Div para estado disabled -->
<div *ngIf="state === 'disabled'">
  <div class="upload-label">
    <label class="file-upload-label">
      <span>
        <app-svg-icon [icon]="icon === 'image' ? 'Image.svg' : 'Upload.svg'" [color]="'#999'"></app-svg-icon>
      </span>
      <p class="gray-text">{{ icon === 'image' ? 'Selecciona la imagen' : 'Selecciona el archivo' }}</p>
      <input type="file" 
             class="file-upload-input" 
             [accept]="getAcceptType()"
             disabled>
    </label>
  </div>
  <app-hint [text]="information" type="info"></app-hint>
</div>