<div class="fiscal-data-container" *ngIf="currentStep === 1">
    <div>
      <app-titles [text]="'2. Datos fiscales'" [color]="'#000'"></app-titles>
    
      <app-simple-text 
        [text]="'Puedes subir un PDF o una imagen con tus datos fiscales para rellenar automáticamente, ya sea una foto de un documento en papel o una imagen guardada. Si lo prefieres, también puedes tomar la foto ahora.'"
        [color]="'#000'">
      </app-simple-text>
  
      <app-custom-button
        [type]="'tertiary'"
        [text]="'Rellenar automáticamente'"
        [icon]="'FileText.svg'"
        [useAssetIcon]="true"
        (click)="Rellenar()">
        
      </app-custom-button>
    </div>
  
    <app-content-info-camera *ngIf="mostrarCamara"></app-content-info-camera>
  
    <app-divider *ngIf="!mostrarCamara" [text]="'o escribir manualmente'"></app-divider>
    
    <div *ngIf="!mostrarCamara">
      <app-input-field
        [icon]="'IdCard.svg'"
        [label]="'RFC'"
        [required]="true"
        [placeholder]="'ABCD123456XX0'"
        [value]="rfc">
      </app-input-field>
      
      <!-- Mostrar RFC para depuración -->
      <p *ngIf="rfc" style="margin-top: 5px; font-size: 0.8em; color: #666;">
        RFC detectado: <strong>{{ rfc }}</strong>
      </p>
  
      <app-select-field
        [icon]="'Building.svg'"
        [label]="'Régimen Fiscal'"
        [required]="true"
        [options]="CFDIUsesOptions">
      </app-select-field>
  
      <app-select-field
        [icon]="'BookMarked.svg'"
        [label]="'Uso CFDI'"
        [required]="true"
        [options]="CFDIUsesOptions">
      </app-select-field>
    </div>
    
    <div *ngIf="!mostrarCamara">
      <app-custom-button
        [type]="'primary'"
        [text]="'Continuar con el siguiente paso'"
        (click)="advanceToStepThree()">
      </app-custom-button>
    </div>
  </div>
  <div *ngIf="currentStep === 2">
    <app-content-info-camera></app-content-info-camera>
  </div>
  
