.custom-button {
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  font-weight: bold;
}

.custom-button.primary {
  background-color: #f07718;
  color: white;
}

.custom-button.primary:hover {
  background-color: #da6003;
}

.custom-button.secondary {
  background-color: #ffffff00;
  color: #f07718;
  border: 1px solid #f07718;
}

.custom-button.secondary:hover {
  background-color: #ffffff13;
  border-color: #da6003;
  color: #da6003;
}

.custom-button.tertiary {
  background-color: #282828;
  color: white;
}

.custom-button.tertiary:hover {
  background-color: #3a3a3a;
}

.custom-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* Mantenemos los colores originales pero con transparencia */
.custom-button.primary:disabled {
  background-color: #f07718;
  color: white;
}

.custom-button.secondary:disabled {
  background-color: #ffffff00;
  color: #f07718;
  border: 1px solid #f07718;
}

.custom-button.tertiary:disabled {
  background-color: #282828;
  color: white;
}

.button-icon {
  margin-right: 8px;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para los SVG inyectados */
.button-icon svg {
  height: 100%;
  width: 100%;
}

/* Asegurar que los SVG en estado deshabilitado mantengan la misma opacidad que el texto */
.custom-button:disabled .button-icon svg {
  opacity: 1;
}
