.hint-box {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 8px;
    margin-top: 8px;
    font-size: 12px;
    color: #888;
}

.hint-box img {
    width: 14px;
    height: 14px;
}

.hint-box span {
    font-size: 12px;
    color: #888;
}
  
  .hint-box.error span {
    color: red;
  }
  
  .hint-box.info span {
    color: gray;
  }
  
.hint-box.link {
    cursor: pointer;
}

.hint-box.link:hover {
    opacity: 0.8;
}

.hint-box.link span,
.hint-box.link app-svg-icon {
    color: #0066cc;
    text-decoration: underline;
}