.landing-container {
  background-image: url('../../../../../public/assets/Landing.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.content-container {
  background-color: rgba(124, 100, 74, 0.5);
  border-radius: 32px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  padding: 32px 16px 32px 16px;
  gap: 16px;
  margin: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons-container app-custom-button {
  width: 100%;
}
