<div class="landing-container">
  <app-navigation-bar></app-navigation-bar>
  
  <div class="content-container">
    <div class="text-container">
      <app-titles [text]="'Factura tus compras en minutos'" [color]="'white'"></app-titles>
      <app-simple-text [text]="'Accede a tus facturas de productos y servicios de forma rápida y segura'" [color]="'white'"></app-simple-text>
    </div>

    <div class="buttons-container">
      <app-custom-button [type]="'primary'" [text]="'Generar nueva factura'" (click)="openBottomSheet()" ></app-custom-button>
      <app-custom-button [type]="'tertiary'" [text]="'Consultar facturas anteriores'" (click)="openMyLastBillings()"></app-custom-button>
    </div>
  </div>
</div>
