<div>
    <h2>¿Cómo tomar una foto válida de tu boleto?</h2>
    <ol>
        <li>Coloca el boleto en una superficie plana: Asegúrate de que esté completamente visible y sin arrugas.</li>
        <li>Buena iluminación: Evita sombras o reflejos que puedan dificultar la lectura del boleto.</li>
        <li>Alinea el boleto: Asegúrate de que el boleto esté centrado y completamente capturado.</li>
        <li>Evita movimientos al capturar: Mantén el dispositivo estable al tomar la foto.</li>
    </ol>
    <h2>¿Por qué es importante una buena captura?</h2>
    <p>Una imagen clara y completa del boleto garantiza que podamos extraer correctamente la información necesaria para generar tu factura sin errores ni demoras.</p>
    <h2>¿Problemas al capturar?</h2>
    <ul>
        <li>Boleto dañado o ilegible: Intenta alisar el boleto o capturarlo desde otro ángulo.</li>
        <li>No se detecta el boleto: Verifica que el boleto esté completamente dentro del marco y bien iluminado.</li>
        <li>¿Prefieres ingresar manualmente? Puedes optar por introducir los datos del boleto manualmente si la captura no es posible.</li>
    </ul>
</div>

<app-custom-button
    type="secondary"
    text="Capturar manualmente"
></app-custom-button>