.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color: #b8b8b8;
}

.nav-item.active {
  color: #e77c22;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e9c38d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.nav-item.active .icon-circle {
  background-color: #e77c22;
  color: white;
}
