/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.custom-bottom-sheet {
  border-radius: 24px 24px 0 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

.custom-bottom-sheet .mat-bottom-sheet-container {
  border-radius: 24px 24px 0 0 !important;
  padding: 0 !important;
  background: white !important;
}

/* Sobreescribir estilos de Material para los botones */
.mat-mdc-raised-button.mat-primary {
  background-color: #FF6B00 !important;
}

.mat-mdc-stroked-button {
  border-color: #FF6B00 !important;
  color: #FF6B00 !important;
}