.nav-container {
  background-color: #FBDDC5;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.3);
}

img {
  width: 42px;
  height: 42px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #F07718;
}

.nav-link.active {
  color: #F07718;
}
