.main-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  text-align: justify;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
