<div class="tickets-list">
  <app-ticket-item 
    *ngFor="let ticket of tickets"
    [code]="ticket.code"
    [price]="ticket.price"
    [selected]="ticket.selected"
    (selectionChange)="onTicketSelectionChange(ticket, $event)">
  </app-ticket-item>
</div>

<app-drop-box [icon]="'image'"></app-drop-box>
<app-drop-box [icon]="'pdf'"></app-drop-box>
<app-drop-box [icon]="'csv'"></app-drop-box>

<app-drop-box
  [icon]="'image'"
  [state]="'default'"
  [filename]="''"
  [information]="'Sube una imagen de perfil'"
  [required]="true"
  [error]="false"
></app-drop-box>
<app-drop-box
  [icon]="'pdf'"
  [state]="'error'"
  [filename]="''"
  [information]="'Por favor sube un documento válido'"
  [required]="true"
  [error]="true"
></app-drop-box>
<app-drop-box
  [icon]="'csv'"
  [state]="'success'"
  [filename]="'reporte_datos.csv'"
  [information]="'Carga exitosa del archivo CSV'"
  [required]="false"
  [error]="false"
></app-drop-box>
